#ProgramButton {
    background-color: gray;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    position: fixed;
    bottom: 2%;
    right: 1%;
    height: 5%;
    width: 15%;
    font-size: 120%;
}

#BackButton {
    background-color: gray;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    position: fixed;
    top: 1%;
    left: 1%;
    height: 5%;
    width: 15%;
    font-size: 120%;
}

#BackDiv {
    color: gray;
    height: 100%;
    width: 100%;
}

.SavedPolicyDiv {
    position: fixed;
    height: 100%;
    width: 20%;
    right: 0%;
    color: black;
    background-color: rgb(143, 205, 209);
    display: flex;
    justify-content: center;
}

.SavedPolicyDiv .saveBtn {
    height: 5%;
    width: 6%;
    right: 11%;
    bottom: 2%;
    position: fixed;
}

.SavedPolicyDiv .editBtn {
    height: 5%;
    width: 6%;
    right: 3%;
    bottom: 2%;
    position: fixed;
}

.SavedPolicyDiv .PolicyListDiv {
    position: fixed;
    top: 10%;
    height: 80%;
    width: 17%;
    color: black;
    background-color: rgb(255, 255, 255);
}

.SavedPolicyDiv .PolicyListDiv .PolicyList {
    
}

#TableInfoBox {
    position: fixed;
    top: 50%;
    right: 2%;
    color: rgb(0, 0, 0);
    background-color: rgb(248, 248, 248);
}

#ChooseMethodDiv {
    position: fixed;
    top: 1%;
    right: 2%;
    color: rgb(0, 0, 0);
    background-color: rgb(248, 248, 248);
    text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #a7c3ec;
    border-color: #000000;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}