#ProgramButton {
    background-color: #C6E0E9;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    position: fixed;
    bottom: 2%;
    right: 1%;
    height: 5%;
    width: 15%;
    font-size: 120%;
}

#BackButton {
    background-color: #C6E0E9;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    position: fixed;
    top: 1%;
    left: 1%;
    height: 5%;
    width: 15%;
    font-size: 120%;
}


/* The policy list in programming page */
.SavedPolicyDiv {
    position: fixed;
    height: 100%;
    width: 20%;
    right: 0%;
    color: black;
    background-color: #5B6C80;
    display: flex;
    justify-content: center;
}

.SavedPolicyDiv .saveBtn {
    height: 5%;
    width: 6%;
    right: 13.5%;
    bottom: 2%;
    position: fixed;
}

.SavedPolicyDiv .editBtn {
    height: 5%;
    width: 6%;
    right: 7%;
    bottom: 2%;
    position: fixed;
}

.SavedPolicyDiv .deleteBtn {
    height: 5%;
    width: 6%;
    right: 0.5%;
    bottom: 2%;
    position: fixed;
}

.PolicyList {
    position: fixed;
    justify-content: center;
    top: 8%;
    width: 14%;
    height: 80%;
    padding: .5rem .5rem 1rem;
    max-height: 29rem;
    overflow-y: none;
    overflow-x: hidden;
}

.policies {
    color: white;
    position: relative;
    background-color: #5d73b8;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px;
    width: 100%;
    word-wrap: break-word;
}

.policies:focus {
    color: white;
    position: relative;
    background-color: #53408b;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px;
    width: 100%;
    word-wrap: break-word;
}

/* The policy list in programming page end */


/* Canteen + Button Overviw */

.container {
    position: relative;
    max-width: 447px;
    margin: 0;
    padding: 0;
    display: grid;
    height: 100%;
}

.walls {
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    margin: auto;
}

.container .btn1 {
    position: absolute;
    top: 88%;
    left: 3%;
    width: 190px;
    height: 67px;
    border: none;
    background-color: transparent;
}

.container .btn2 {
    position: absolute;
    top: 73%;
    left: 3%;
    width: 190px;
    height: 67px;
    border: none;
    background-color: transparent;
}

.container .btn3 {
    position: absolute;
    top: 58%;
    left: 3%;
    width: 190px;
    height: 67px;
    border: none;
    background-color: transparent;
}

.container .btn4 {
    position: absolute;
    top: 37%;
    left: 3%;
    width: 190px;
    height: 67px;
    border: none;
    background-color: transparent;
}

.container .btn5 {
    position: absolute;
    top: 2%;
    left: 70%;
    width: 64px;
    height: 191px;
    border: none;
    background-color: transparent;
}

.container .btn6 {
    position: absolute;
    top: 44%;
    left: 85%;
    width: 39px;
    height: 88px;
    border: none;
    background-color: transparent;
}

.container .btn7 {
    position: absolute;
    top: 58%;
    left: 85%;
    width: 39px;
    height: 88px;
    border: none;
    background-color: transparent;
}

.container .btn8 {
    position: absolute;
    top: 72%;
    left: 85%;
    width: 39px;
    height: 88px;
    border: none;
    background-color: transparent;
}

.container .btn9 {
    position: absolute;
    top: 86%;
    left: 85%;
    width: 39px;
    height: 88px;
    border: none;
    background-color: transparent;
}

/* Drag and Drop Style */

.dragndropview {
    position: fixed;
    height: 65%;
    width: 20%;
    color: black;
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 15%;
    right: 5%;
    padding: 15px;
    border: 1px solid black;
}

.dragndropview .policies {
    color: white;
    position: relative;
    background-color: #5d73b8;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px;
    width: 100%;
    word-wrap: break-word;
}

/* policyQue list */
.queDiv {
    position: fixed;
    top: 12%;
    left: 12%;
    width: 30%;
    height: 30rem;
    background-color: rgb(255, 255, 255);
    border: black solid 1px;
}

.queDiv .queList {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: 1rem auto;
    max-width: fit-content;
    padding: .5rem .5rem 1rem;
    max-height: 22rem;
    overflow-y: scroll;
}

.queListItem {
    padding: 0.1rem 0.3rem;
    background-color: #C6E0E9;
    height: fit-content;
    margin: 0.5rem;
    border: 1px solid #939697;
    border-radius: 5px;
}

/* Front page canteenview */

.frontPageCanteenView {
    position: absolute;
    left: 50%;
}